/*
* @Author: lenovo
* @Date:   2019-06-03 20:38:58
* @Last Modified by:   lenovo
* @Last Modified time: 2019-06-11 16:09:28
*/
/*
* @Author: lenovo
* @Date:   2019-06-03 20:40:43
* @Last Modified by:   lenovo
* @Last Modified time: 2019-06-10 11:46:07
*/
*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
ul,li,ol{
	list-style:none;
}
.aa{
	width:1200px;
	height:30px;
	margin:0 auto;
	line-height:30px;
	color:#333;
	background-color:#f4f4f4;
}
.aa li{
	display:inline-block;
	font-size:12px;
	color:#333;
}
.bb{
	float:left;
}
.bb li{
	margin-right:11px;
}
.bb img{
	margin-top:7px;
	margin-left:11px;
	margin-right:4px;
}
.cc{
	font-size:12px;
	color:#333;
	float:right;
}
.cc a{
	font-size:12px;
	color:#333;
}
.dd{
	width:1200px;
	height:160px;
	margin:0 auto;
	background-color:#ffffff;
	position:relative;
	border-bottom:3px solid #e00304;
}
.dd img{
	position:absolute;
	left:0px;
	top:17px;
}
.dd input{
	width:401px;
	height:37px;
	border:2px solid #f83838;
	margin-left:150px;
	margin-top:40px;
}
.dd input:last-child{
	width:91px;
	height:41px;
	background-color:#f83838;
	font-size:16px;
	color:#ffffff;
	border:none;
	margin-left:-5px;
}
.rr{
	display:inline-block;
	width:150px;
	height:39px;
	background-color:#f5f5f5;
	float:right;
	margin:40px 40px 0 0;
	text-align:center;
	line-height:39px;
	background:url('image/购物车.png') no-repeat 10px;
}
.rr span{
	color:#f83838;
}
.gg ul{
	margin-top:33px;
	margin-left:31px;
}
.gg li{
	float:left;
	margin-right:73px;
}
.gg a{
	font-size:16px;
	color:#333333;
}
.gg a:hover{
	display:inline-block;
	background-color:#fd0304;
	color:#ffffff;
	border-radius:5px;
	width:89px;
	height:33px;
	text-align:center;
	line-height:30px;
}
.hh{
	width:1200px;
	height:655px;
	margin:0 auto;
	background-color:#fbfbfb;
}
.ii{
	width:1200px;
	height:65px;
	display:inline-block;
}
.ii li{
	float:left;
	margin-top:28px;
}
.jj{
	width:214px;
	height:43px;
	background-color:#ffffff;
}
.jj img{
	margin-left:35px;
	margin-top:12px;
}
.jj p{
	display:inline-block;
	line-height:43px;
	margin-left:25px;
	color:#333333;
}
.nn{
	width:214px;
	height:510px;
	background-color:#ffffff;
	margin-top:10px;
}
.nn li{
	font-size:14px;
	margin-top:18px;
	padding-top:20px;
	text-indent:75px;
}
.nn li:hover{
	color:#ff3a27;
}
.kk{
	width:975px;
	height:570px;
	background-color:#ffffff;
	float:right;
	position:absolute;
	top:260px;
	margin-left:227px;

}
.mm li{
	width:219px;
	height:250px;
	float:left;
	border:2px solid #dbdbdb;
	margin:17px 0px 0px 17px;
	text-align:center;
}
.mm li p{
	color:#a3a3a3;
}
.yy{
	width:1200px;
	height:150px;
	margin:0 auto;
	background-color:#2e2e2e;
}
.yy ul{
	display:inline-block;
	float:left;
	margin-right:190px;	
}
.yy ul:last-child{
	margin-left:0px;
	margin-right:0px;
}
.yy li{
	margin-top: 15px;
}
.yy a{
	color:#f5f5f5;
}
.xx{
	width:1200px;
	height:97px;
	margin:0 auto;
	background-color:#2e2e2e;
	border-top:1px solid #454545;

}
.xx span{
	display:block;
	font-size:14px;
	margin-left:506px;
	margin-top:27px;
	color:#9c9c9c;
}
.xx span a{
	color:#9c9c9c;
}

